@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1>
    Chức năng đang trong quá trình xây dựng, vui lòng quay lại sau
</h1>
<img src="~/Content/Template/under_construction.gif" style="margin-left:0;margin-right:0"/>