
@{
    ViewBag.Title = "GiangVien";
}

<div class="container-fluid" style="margin:30px 0 80px;">
    <div class="container">
        <div class="row" style="margin:0;">
            <div class="row" style="color: #5a5a5c;font-size: 30px;font-weight: 600;margin:0;">GIỚI THIỆU</div>
            <div class="row" style="color: #333;font-size: 50px;font-weight: 600;margin:0;line-height:60px;">GIẢNG VIÊN CHUYÊN GIA</div>
            <div class="row" style="color: #a4a2a2;font-size: 30px;font-weight: 600;margin:0;line-height:50px;">MARKETING &amp; KINH DOANH</div>
        </div>
        <hr style="border-bottom:4px solid #d6d6d6;margin: 10px 0 20px;">
        <div class="row" style="margin: 0;">
            <div class="col-sm-4">
                <div class="col-sm-6" style="padding:0;">
                    <a href="http://marworld.com.vn/vi/teachers/29">
                        <img src="http://marworld.com.vn/public/upload/images/56de461f1a187.jpg" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-6" style="font-size: 17px;color: #a4a2a2;font-weight: 600;">
                    <a href="http://marworld.com.vn/vi/teachers/29">
                        <h3 style="color:#f47a22;font-weight: 600;margin-top:0;">MBA. Trâm Lê</h3>
                    </a>
                    Marketing Director
                     PEPSICO Vietnam
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6" style="padding:0;">
                    <a href="http://marworld.com.vn/vi/teachers/28">
                        <img src="http://marworld.com.vn/public/upload/images/56de4290697d8.jpg" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-6" style="font-size: 17px;color: #a4a2a2;font-weight: 600;">
                    <a href="http://marworld.com.vn/vi/teachers/28">
                        <h3 style="color:#f47a22;font-weight: 600;margin-top:0;">MBA. Cảnh Trần</h3>
                    </a>
                    Giám Đốc Công Ty  Ingersoll Rand Việt Nam
                    Giám Đốc Bán Hàng, khu vực Đông Dương (Indochina), Ingersoll Rand
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6" style="padding:0;">
                    <a href="http://marworld.com.vn/vi/teachers/27">
                        <img src="http://marworld.com.vn/public/upload/images/56da42af2e38f.jpg" class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-6" style="font-size: 17px;color: #a4a2a2;font-weight: 600;">
                    <a href="http://marworld.com.vn/vi/teachers/27">
                        <h3 style="color:#f47a22;font-weight: 600;margin-top:0;">Mr. Josh Wills1</h3>
                    </a>
                    Marketing Director1
                     PEPSICO Vietnam
                </div>
            </div>

        </div>
    </div>
</div>