
@{
    ViewBag.Title = "Quản lí  trang giáo trình chuyên biệt";
    ViewBag.notRenderMenu = true;

}
<div class="container">
    <h3>Giáo trình chuyên biệt</h3>
    @using (Html.BeginForm("saveGiaotrinhchuyenbiet", "Quanli", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <textarea id="giaotrinh" class="form-control" rows="30" name="giaotrinh">@ViewBag.text_giaotrinhchuyenbiet</textarea>
        <br />
        <input type="submit" class="btn btn-success" value="Lưu lại" id="btnsubmit" />
    }
</div>

<script>
    CKEDITOR.replace('giaotrinh');

</script>