
@{
    ViewBag.Title = "Marworld - Thông báo";
}

<div class="container">
    <div style="text-align:center">
        <h1>
            <a href="/">Chức năng đang trong quá trình xây dựng, vui lòng quay lại sau</a>
        </h1>
    </div>
   
    <div style="width:100%;text-align:center">
        <img src="~/Content/Template/under_construction.gif" style="margin-left:0;margin-right:0" />

    </div>
</div>